In [30]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import xgboost as xgb
from sklearn import svm
from Utils import GeoUtils

from scipy import stats
from scipy.stats import norm, skew #for some statistics

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler
from sklearn.multioutput import MultiOutputRegressor

%matplotlib inline

In [8]:
data = pd.read_csv("Dados/LocTreino_Equipe_4.csv")

bts_data = pd.read_csv("Dados/dados_BTSs.csv")

In [9]:
data.drop_duplicates(inplace=True)
data.shape
data = data.drop(['pontoId'], axis=1)
data['taBTS2'] = data['taBTS2'].fillna(data['taBTS2'].mean())
data['taBTS4'] = data['taBTS4'].fillna(data['taBTS4'].mean())
data.describe()

,lat,lon,pathBTS1,pathBTS2,pathBTS3,pathBTS4,pathBTS5,pathBTS6,taBTS1,taBTS2,taBTS3,taBTS4,taBTS5,taBTS6
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.0000
mean,-8.070097,-34.894814,116.654370,119.101165,123.863545,115.814052,121.320526,125.656192,0.663333,1.008733,2.525333,1.099388,1.093333,1.0560
std,0.004232,0.004354,15.229664,12.666188,9.031316,12.414620,12.552702,13.134365,0.698317,0.863886,0.967117,1.954747,0.856998,0.6692
min,-8.077570,-34.906830,86.256667,77.256667,88.340000,84.056667,79.523333,89.856667,0.000000,0.000000,1.000000,0.000000,0.000000,0.0000
25%,-8.073197,-34.897387,106.827500,111.673333,119.190000,106.583750,112.823333,116.077500,0.000000,0.000000,2.000000,0.000000,0.000000,1.0000
50%,-8.069940,-34.895346,117.156667,120.690000,124.273333,116.273333,122.840000,128.756667,1.000000,1.000000,3.000000,1.000000,1.000000,1.0000
75%,-8.067113,-34.891169,124.790000,128.808750,130.117083,125.590000,130.423333,135.996250,1.000000,1.000000,3.000000,1.000000,2.000000,2.0000
max,-8.059339,-34.885067,476.882449,144.890000,145.890000,145.423333,146.890000,150.123333,3.000000,11.090452,5.000000,38.747484,3.000000,2.0000

In [10]:
model_xgb = xgb.XGBRegressor(colsample_bytree=0.4603, gamma=0.0468, 
                             learning_rate=0.05, max_depth=3, 
                             min_child_weight=1.7817, n_estimators=2200,
                             reg_alpha=0.4640, reg_lambda=0.8571,
                             subsample=0.5213, silent=1,
                             random_state =7, nthread = -1)

In [11]:
x = data.drop(['lat', 'lon'], axis=1)
x.describe()

,pathBTS1,pathBTS2,pathBTS3,pathBTS4,pathBTS5,pathBTS6,taBTS1,taBTS2,taBTS3,taBTS4,taBTS5,taBTS6
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.0000
mean,116.654370,119.101165,123.863545,115.814052,121.320526,125.656192,0.663333,1.008733,2.525333,1.099388,1.093333,1.0560
std,15.229664,12.666188,9.031316,12.414620,12.552702,13.134365,0.698317,0.863886,0.967117,1.954747,0.856998,0.6692
min,86.256667,77.256667,88.340000,84.056667,79.523333,89.856667,0.000000,0.000000,1.000000,0.000000,0.000000,0.0000
25%,106.827500,111.673333,119.190000,106.583750,112.823333,116.077500,0.000000,0.000000,2.000000,0.000000,0.000000,1.0000
50%,117.156667,120.690000,124.273333,116.273333,122.840000,128.756667,1.000000,1.000000,3.000000,1.000000,1.000000,1.0000
75%,124.790000,128.808750,130.117083,125.590000,130.423333,135.996250,1.000000,1.000000,3.000000,1.000000,2.000000,2.0000
max,476.882449,144.890000,145.890000,145.423333,146.890000,150.123333,3.000000,11.090452,5.000000,38.747484,3.000000,2.0000

In [12]:
y = data[['lat', 'lon']]
y.describe()

               lat          lon
count  1500.000000  1500.000000
mean     -8.070097   -34.894814
std       0.004232     0.004354
min      -8.077570   -34.906830
25%      -8.073197   -34.897387
50%      -8.069940   -34.895346
75%      -8.067113   -34.891169
max      -8.059339   -34.885067

In [35]:
transformerY = RobustScaler().fit(y)
y_scaled = transformerY.transform(y)

transformerX = RobustScaler().fit(x)
x_scaled = transformerX.transform(x)

X_train, X_test, y_train, y_test = train_test_split(x, y_scaled, test_size = 0.3)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(1050, 12) (450, 12) (1050, 2) (450, 2)

In [36]:
multioutputregressor = MultiOutputRegressor(model_xgb).fit(X_train, y_train)

In [37]:
print (transformerY.inverse_transform(multioutputregressor.predict(X_test)))

[[ -8.077583  -34.89902  ]
 [ -8.068533  -34.89007  ]
 [ -8.065399  -34.88707  ]
 [ -8.075666  -34.899967 ]
 [ -8.069289  -34.88988  ]
 [ -8.068516  -34.897007 ]
 [ -8.076502  -34.896885 ]
 [ -8.064201  -34.885956 ]
 [ -8.070244  -34.896904 ]
 [ -8.072661  -34.895794 ]
 [ -8.066912  -34.893772 ]
 [ -8.073889  -34.89636  ]
 [ -8.077369  -34.898834 ]
 [ -8.0646105 -34.900723 ]
 [ -8.069543  -34.88996  ]
 [ -8.062009  -34.90228  ]
 [ -8.069848  -34.893764 ]
 [ -8.076465  -34.89988  ]
 [ -8.069259  -34.890682 ]
 [ -8.072971  -34.896523 ]
 [ -8.069337  -34.89421  ]
 [ -8.072275  -34.89198  ]
 [ -8.065219  -34.893036 ]
 [ -8.069198  -34.888767 ]
 [ -8.07088   -34.89167  ]
 [ -8.070691  -34.892593 ]
 [ -8.072482  -34.896835 ]
 [ -8.065504  -34.900867 ]
 [ -8.072893  -34.8961   ]
 [ -8.069385  -34.89026  ]
 [ -8.072308  -34.900665 ]
 [ -8.071388  -34.900524 ]
 [ -8.062274  -34.88806  ]
 [ -8.069826  -34.890923 ]
 [ -8.071308  -34.891792 ]
 [ -8.065171  -34.900677 ]
 [ -8.069411  -34.889942 ]
 [ -8.06916   -34.88861  ]
 [ -8.072488  -34.89212  ]
 [ -8.065566  -34.89403  ]
 [ -8.070095  -34.89344  ]
 [ -8.069353  -34.890533 ]
 [ -8.076353  -34.89576  ]
 [ -8.076045  -34.89965  ]
 [ -8.067639  -34.89713  ]
 [ -8.069994  -34.892876 ]
 [ -8.072838  -34.891224 ]
 [ -8.069744  -34.895287 ]
 [ -8.067433  -34.89279  ]
 [ -8.073283  -34.90044  ]
 [ -8.070568  -34.89589  ]
 [ -8.065432  -34.892796 ]
 [ -8.065695  -34.892002 ]
 [ -8.074419  -34.89156  ]
 [ -8.074664  -34.89996  ]
 [ -8.0767    -34.896908 ]
 [ -8.074158  -34.891308 ]
 [ -8.076244  -34.90011  ]
 [ -8.070498  -34.901134 ]
 [ -8.069042  -34.888947 ]
 [ -8.07079   -34.891956 ]
 [ -8.06772   -34.895767 ]
 [ -8.067367  -34.8934   ]
 [ -8.070795  -34.892155 ]
 [ -8.0742035 -34.8909   ]
 [ -8.070248  -34.90115  ]
 [ -8.063969  -34.89646  ]
 [ -8.0745125 -34.890926 ]
 [ -8.072779  -34.900566 ]
 [ -8.073646  -34.895832 ]
 [ -8.070313  -34.90089  ]
 [ -8.075957  -34.899796 ]
 [ -8.068033  -34.896873 ]
 [ -8.074742  -34.890236 ]
 [ -8.07309   -34.89694  ]
 [ -8.07447   -34.890274 ]
 [ -8.061709  -34.902504 ]
 [ -8.074613  -34.890728 ]
 [ -8.069538  -34.898186 ]
 [ -8.068486  -34.8972   ]
 [ -8.065736  -34.88962  ]
 [ -8.074939  -34.90005  ]
 [ -8.075987  -34.895477 ]
 [ -8.068894  -34.89148  ]
 [ -8.077074  -34.899002 ]
 [ -8.075195  -34.899193 ]
 [ -8.06513   -34.893234 ]
 [ -8.070331  -34.897663 ]
 [ -8.068515  -34.896847 ]
 [ -8.067247  -34.892967 ]
 [ -8.068604  -34.888557 ]
 [ -8.075942  -34.899963 ]
 [ -8.061295  -34.90466  ]
 [ -8.072514  -34.891888 ]
 [ -8.070353  -34.900955 ]
 [ -8.0722475 -34.891853 ]
 [ -8.073852  -34.899757 ]
 [ -8.073121  -34.891262 ]
 [ -8.076328  -34.900227 ]
 [ -8.070322  -34.896645 ]
 [ -8.068184  -34.896755 ]
 [ -8.0759735 -34.900036 ]
 [ -8.074502  -34.899784 ]
 [ -8.064235  -34.895023 ]
 [ -8.0702915 -34.89246  ]
 [ -8.075834  -34.8952   ]
 [ -8.072614  -34.89635  ]
 [ -8.073574  -34.891106 ]
 [ -8.069199  -34.88989  ]
 [ -8.069627  -34.895367 ]
 [ -8.068818  -34.896687 ]
 [ -8.063643  -34.89694  ]
 [ -8.069114  -34.889282 ]
 [ -8.06437   -34.896927 ]
 [ -8.061591  -34.90514  ]
 [ -8.068083  -34.896824 ]
 [ -8.0645    -34.888607 ]
 [ -8.073649  -34.896175 ]
 [ -8.065247  -34.88983  ]
 [ -8.062342  -34.887814 ]
 [ -8.070531  -34.89233  ]
 [ -8.068666  -34.88995  ]
 [ -8.07572   -34.900127 ]
 [ -8.06942   -34.894558 ]
 [ -8.070659  -34.891506 ]
 [ -8.061616  -34.90435  ]
 [ -8.072384  -34.891903 ]
 [ -8.073304  -34.897167 ]
 [ -8.075702  -34.89554  ]
 [ -8.0692425 -34.896355 ]
 [ -8.062808  -34.886288 ]
 [ -8.062396  -34.88758  ]
 [ -8.065352  -34.89349  ]
 [ -8.069147  -34.890053 ]
 [ -8.065475  -34.88828  ]
 [ -8.069607  -34.89103  ]
 [ -8.073626  -34.896156 ]
 [ -8.061408  -34.903526 ]
 [ -8.068719  -34.890358 ]
 [ -8.071552  -34.89185  ]
 [ -8.069043  -34.89524  ]
 [ -8.064685  -34.892666 ]
 [ -8.073022  -34.896416 ]
 [ -8.069022  -34.889095 ]
 [ -8.069082  -34.891468 ]
 [ -8.0647135 -34.887848 ]
 [ -8.069504  -34.891197 ]
 [ -8.072527  -34.896774 ]
 [ -8.072754  -34.900528 ]
 [ -8.0688505 -34.890656 ]
 [ -8.068728  -34.889015 ]
 [ -8.069377  -34.890045 ]
 [ -8.069648  -34.890137 ]
 [ -8.069389  -34.895855 ]
 [ -8.066487  -34.889194 ]
 [ -8.073273  -34.89561  ]
 [ -8.070852  -34.892765 ]
 [ -8.071637  -34.900547 ]
 [ -8.072443  -34.895504 ]
 [ -8.072621  -34.896446 ]
 [ -8.069042  -34.88927  ]
 [ -8.0746    -34.898193 ]
 [ -8.062755  -34.90163  ]
 [ -8.074588  -34.890533 ]
 [ -8.069207  -34.890995 ]
 [ -8.075587  -34.900196 ]
 [ -8.070395  -34.89187  ]
 [ -8.07685   -34.896324 ]
 [ -8.068866  -34.890064 ]
 [ -8.073264  -34.897663 ]
 [ -8.069148  -34.895782 ]
 [ -8.073343  -34.896126 ]
 [ -8.075397  -34.894047 ]
 [ -8.063769  -34.88646  ]
 [ -8.065718  -34.901066 ]
 [ -8.065457  -34.88995  ]
 [ -8.076526  -34.896526 ]
 [ -8.064945  -34.890625 ]
 [ -8.07073   -34.897083 ]
 [ -8.074895  -34.89022  ]
 [ -8.076271  -34.894817 ]
 [ -8.069126  -34.894043 ]
 [ -8.073934  -34.899803 ]
 [ -8.069513  -34.894993 ]
 [ -8.075902  -34.89531  ]
 [ -8.065658  -34.89025  ]
 [ -8.071377  -34.891644 ]
 [ -8.067624  -34.897175 ]
 [ -8.075807  -34.899853 ]
 [ -8.068835  -34.894554 ]
 [ -8.075876  -34.895084 ]
 [ -8.076327  -34.895473 ]
 [ -8.074244  -34.89081  ]
 [ -8.069716  -34.8958   ]
 [ -8.072168  -34.895714 ]
 [ -8.067527  -34.893223 ]
 [ -8.072556  -34.892174 ]
 [ -8.072461  -34.896755 ]
 [ -8.074897  -34.900024 ]
 [ -8.069468  -34.900604 ]
 [ -8.06877   -34.892002 ]
 [ -8.070588  -34.897377 ]
 [ -8.07448   -34.900105 ]
 [ -8.073792  -34.89587  ]
 [ -8.076102  -34.894375 ]
 [ -8.0652275 -34.892685 ]
 [ -8.071195  -34.89196  ]
 [ -8.072919  -34.89696  ]
 [ -8.068246  -34.897144 ]
 [ -8.072319  -34.89656  ]
 [ -8.071297  -34.892662 ]
 [ -8.069496  -34.89527  ]
 [ -8.063637  -34.896362 ]
 [ -8.074759  -34.89314  ]
 [ -8.067273  -34.89411  ]
 [ -8.070656  -34.89179  ]
 [ -8.072255  -34.895885 ]
 [ -8.072578  -34.891624 ]
 [ -8.072354  -34.89227  ]
 [ -8.070086  -34.89679  ]
 [ -8.074314  -34.89128  ]
 [ -8.074276  -34.89324  ]
 [ -8.0703335 -34.89592  ]
 [ -8.070886  -34.90041  ]
 [ -8.064638  -34.888367 ]
 [ -8.070506  -34.90073  ]
 [ -8.075266  -34.89539  ]
 [ -8.06915   -34.890648 ]
 [ -8.0695095 -34.89014  ]
 [ -8.06706   -34.89355  ]
 [ -8.072852  -34.892166 ]
 [ -8.077232  -34.897747 ]
 [ -8.069353  -34.89     ]
 [ -8.072906  -34.896908 ]
 [ -8.06961   -34.893826 ]
 [ -8.073746  -34.900223 ]
 [ -8.076379  -34.900166 ]
 [ -8.072752  -34.892014 ]
 [ -8.076893  -34.89799  ]
 [ -8.074988  -34.891113 ]
 [ -8.065379  -34.89342  ]
 [ -8.074798  -34.890003 ]
 [ -8.073917  -34.900517 ]
 [ -8.070419  -34.8964   ]
 [ -8.067224  -34.8935   ]
 [ -8.068751  -34.896057 ]
 [ -8.069835  -34.894203 ]
 [ -8.07653   -34.896793 ]
 [ -8.069006  -34.900517 ]
 [ -8.074818  -34.891426 ]
 [ -8.06717   -34.895172 ]
 [ -8.070384  -34.900753 ]
 [ -8.071041  -34.89187  ]
 [ -8.072541  -34.896404 ]
 [ -8.069494  -34.889782 ]
 [ -8.069512  -34.889954 ]
 [ -8.069517  -34.89033  ]
 [ -8.071263  -34.90078  ]
 [ -8.070378  -34.896362 ]
 [ -8.068449  -34.89442  ]
 [ -8.069794  -34.897594 ]
 [ -8.075725  -34.89467  ]
 [ -8.065088  -34.893806 ]
 [ -8.068783  -34.8947   ]
 [ -8.060202  -34.90521  ]
 [ -8.06744   -34.892147 ]
 [ -8.069049  -34.888615 ]
 [ -8.075215  -34.89436  ]
 [ -8.067044  -34.89371  ]
 [ -8.065665  -34.88998  ]
 [ -8.069914  -34.896805 ]
 [ -8.065814  -34.888943 ]
 [ -8.061544  -34.903976 ]
 [ -8.072707  -34.896854 ]
 [ -8.06777   -34.892406 ]
 [ -8.070246  -34.89639  ]
 [ -8.07452   -34.899982 ]
 [ -8.0697365 -34.89035  ]
 [ -8.069445  -34.895096 ]
 [ -8.068725  -34.890514 ]
 [ -8.069754  -34.899548 ]
 [ -8.062065  -34.887955 ]
 [ -8.074573  -34.890846 ]
 [ -8.069772  -34.893665 ]
 [ -8.072857  -34.90042  ]
 [ -8.068739  -34.889763 ]
 [ -8.063028  -34.88626  ]
 [ -8.064463  -34.88869  ]
 [ -8.0681715 -34.896786 ]
 [ -8.064373  -34.89691  ]
 [ -8.065712  -34.889877 ]
 [ -8.06916   -34.891235 ]
 [ -8.070235  -34.9001   ]
 [ -8.073871  -34.899807 ]
 [ -8.0685625 -34.890694 ]
 [ -8.06437   -34.8874   ]
 [ -8.0760765 -34.895992 ]
 [ -8.076341  -34.895916 ]
 [ -8.06717   -34.893257 ]
 [ -8.069013  -34.895683 ]
 [ -8.064032  -34.887924 ]
 [ -8.064529  -34.8931   ]
 [ -8.075581  -34.90015  ]
 [ -8.069149  -34.8954   ]
 [ -8.064819  -34.89706  ]
 [ -8.077446  -34.897488 ]
 [ -8.070544  -34.89158  ]
 [ -8.064276  -34.894863 ]
 [ -8.064069  -34.88602  ]
 [ -8.070662  -34.90079  ]
 [ -8.0694275 -34.896954 ]
 [ -8.069552  -34.889942 ]
 [ -8.072755  -34.891907 ]
 [ -8.070684  -34.8919   ]
 [ -8.064061  -34.889267 ]
 [ -8.072389  -34.89555  ]
 [ -8.065451  -34.888515 ]
 [ -8.066907  -34.896103 ]
 [ -8.0706415 -34.89634  ]
 [ -8.062396  -34.887615 ]
 [ -8.07056   -34.900467 ]
 [ -8.065293  -34.886005 ]
 [ -8.072795  -34.89586  ]
 [ -8.070458  -34.892742 ]
 [ -8.074684  -34.899776 ]
 [ -8.072605  -34.89425  ]
 [ -8.069823  -34.897423 ]
 [ -8.070423  -34.89285  ]
 [ -8.069123  -34.89595  ]
 [ -8.070087  -34.89318  ]
 [ -8.064285  -34.89341  ]
 [ -8.063777  -34.895077 ]
 [ -8.069996  -34.899326 ]
 [ -8.07467   -34.897804 ]
 [ -8.065289  -34.887936 ]
 [ -8.069343  -34.897045 ]
 [ -8.077569  -34.89902  ]
 [ -8.068181  -34.89665  ]
 [ -8.070091  -34.890793 ]
 [ -8.073255  -34.896557 ]
 [ -8.06785   -34.886753 ]
 [ -8.062344  -34.886642 ]
 [ -8.075941  -34.900604 ]
 [ -8.068828  -34.895863 ]
 [ -8.074272  -34.899597 ]
 [ -8.074515  -34.900276 ]
 [ -8.063734  -34.89514  ]
 [ -8.063028  -34.886333 ]
 [ -8.0684395 -34.890163 ]
 [ -8.074754  -34.89903  ]
 [ -8.07297   -34.89769  ]
 [ -8.060418  -34.905785 ]
 [ -8.073277  -34.896713 ]
 [ -8.073361  -34.89679  ]
 [ -8.070002  -34.891117 ]
 [ -8.074538  -34.899662 ]
 [ -8.06984   -34.89762  ]
 [ -8.068886  -34.889996 ]
 [ -8.067891  -34.8931   ]
 [ -8.075002  -34.90022  ]
 [ -8.069906  -34.88987  ]
 [ -8.065425  -34.89654  ]
 [ -8.066856  -34.89342  ]
 [ -8.077003  -34.898865 ]
 [ -8.069609  -34.890335 ]
 [ -8.068758  -34.88888  ]
 [ -8.076194  -34.899506 ]
 [ -8.067384  -34.894814 ]
 [ -8.073313  -34.89496  ]
 [ -8.072573  -34.897026 ]
 [ -8.0642805 -34.900032 ]
 [ -8.07126   -34.892128 ]
 [ -8.076387  -34.899796 ]
 [ -8.071104  -34.891422 ]
 [ -8.070545  -34.89658  ]
 [ -8.072472  -34.892216 ]
 [ -8.069168  -34.891407 ]
 [ -8.067102  -34.895096 ]
 [ -8.069798  -34.896595 ]
 [ -8.073246  -34.896248 ]
 [ -8.067701  -34.893642 ]
 [ -8.064391  -34.885983 ]
 [ -8.067235  -34.893284 ]
 [ -8.060755  -34.905464 ]
 [ -8.0654955 -34.887592 ]
 [ -8.0652    -34.89337  ]
 [ -8.069215  -34.89731  ]
 [ -8.062489  -34.887592 ]
 [ -8.075725  -34.900146 ]
 [ -8.069278  -34.89028  ]
 [ -8.074857  -34.89077  ]
 [ -8.07268   -34.896595 ]
 [ -8.070204  -34.893196 ]
 [ -8.074312  -34.891476 ]
 [ -8.066383  -34.889526 ]
 [ -8.067453  -34.892666 ]
 [ -8.0657015 -34.8892   ]
 [ -8.068361  -34.896828 ]
 [ -8.06876   -34.888916 ]
 [ -8.075147  -34.900322 ]
 [ -8.062291  -34.887928 ]
 [ -8.064749  -34.897057 ]
 [ -8.0724945 -34.89156  ]
 [ -8.075568  -34.898983 ]
 [ -8.069698  -34.894306 ]
 [ -8.069313  -34.89682  ]
 [ -8.068013  -34.89669  ]
 [ -8.06997   -34.892582 ]
 [ -8.063275  -34.8967   ]
 [ -8.075899  -34.895145 ]
 [ -8.074983  -34.891506 ]
 [ -8.074518  -34.890408 ]
 [ -8.0726385 -34.89476  ]
 [ -8.068872  -34.888897 ]
 [ -8.072328  -34.896862 ]
 [ -8.06518   -34.885784 ]
 [ -8.069383  -34.89462  ]
 [ -8.075968  -34.895756 ]
 [ -8.069871  -34.889782 ]
 [ -8.067952  -34.89741  ]
 [ -8.067032  -34.893295 ]
 [ -8.062291  -34.886642 ]
 [ -8.060235  -34.904675 ]
 [ -8.068958  -34.896458 ]
 [ -8.06934   -34.888775 ]
 [ -8.067774  -34.895382 ]
 [ -8.07061   -34.89743  ]
 [ -8.066598  -34.89406  ]
 [ -8.076086  -34.90044  ]
 [ -8.074855  -34.891697 ]
 [ -8.06903   -34.89716  ]
 [ -8.068688  -34.888386 ]
 [ -8.068484  -34.896603 ]
 [ -8.076222  -34.89575  ]
 [ -8.069652  -34.89084  ]
 [ -8.068173  -34.890507 ]
 [ -8.0659    -34.88858  ]
 [ -8.06809   -34.897076 ]
 [ -8.07586   -34.894424 ]
 [ -8.074798  -34.900166 ]
 [ -8.072705  -34.895916 ]
 [ -8.063808  -34.8873   ]
 [ -8.066215  -34.88898  ]
 [ -8.068873  -34.89082  ]
 [ -8.069941  -34.893883 ]
 [ -8.06612   -34.888428 ]
 [ -8.069474  -34.89122  ]
 [ -8.072064  -34.89692  ]
 [ -8.073232  -34.900375 ]
 [ -8.070572  -34.89629  ]]

In [38]:
print (np.mean((transformerY.inverse_transform(multioutputregressor.predict(X_test)) - transformerY.inverse_transform(y_test))**2, axis=0))

[3.47289100e-07 3.85550428e-07]

In [40]:
v = transformerY.inverse_transform(multioutputregressor.predict(X_test))

lat1 = v[:,0]
lon1 = v[:,1]
lat2 = transformerY.inverse_transform(y_test)[:,0]
lon2 = transformerY.inverse_transform(y_test)[:,1]

dist2 = GeoUtils.GeoUtils.distanceInKm(lat1, lon1,lat2, lon2)

print(np.array(dist).mean())

0.08926488438237418

In [41]:
svr = svm.SVR()
regr = MultiOutputRegressor(svr)
regr.fit(X_train,y_train)

out2 = transformerY.inverse_transform(regr.predict(X_test))

lat3 = out2[:,0]
lon3 = out2[:,1]
lat4 = transformerY.inverse_transform(y_test)[:,0]
lon4 = transformerY.inverse_transform(y_test)[:,1]

dist2 = GeoUtils.GeoUtils.distanceInKm(lat3, lon3,lat4, lon4)
print(np.array(dist2).mean())

0.5011747062861148

In [20]:
data2 = pd.read_csv("Dados/LocTreino_Equipe_8.csv")

data2.drop_duplicates(inplace=True)
data2.shape
data2 = data2.drop(['pontoId'], axis=1)
data2['taBTS2'] = data2['taBTS2'].fillna(data2['taBTS2'].mean())
data2['taBTS4'] = data2['taBTS4'].fillna(data2['taBTS4'].mean())
data2['taBTS6'] = data2['taBTS6'].fillna(data2['taBTS6'].mean())
data2['pathBTS5'] = data2['pathBTS5'].fillna(data2['pathBTS5'].mean())

x2 = data2.drop(['lat', 'lon'], axis=1)
y2 = data2[['lat', 'lon']]

data2.describe()

,lat,lon,pathBTS1,pathBTS2,pathBTS3,pathBTS4,pathBTS5,pathBTS6,taBTS1,taBTS2,taBTS3,taBTS4,taBTS5,taBTS6
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,-8.070134,-34.895007,116.751773,118.649758,123.580585,115.984134,122.759922,125.123635,0.662000,0.996000,2.504168,0.996000,1.115333,1.066769
std,0.004245,0.004256,12.197069,12.745641,9.149696,12.453865,25.765837,13.512854,0.695758,0.827309,1.077002,0.827309,0.830958,1.094289
min,-8.077570,-34.906830,86.256667,76.423333,89.123333,83.640000,80.123333,89.823333,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,-8.073231,-34.897486,107.181667,110.840000,118.856667,106.848333,113.554583,114.881667,0.000000,0.000000,2.000000,0.000000,0.000000,1.000000
50%,-8.069965,-34.895634,117.510833,119.865000,124.173333,116.290000,123.406667,128.306667,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000
75%,-8.067056,-34.891804,125.244167,128.365000,129.723333,125.646250,130.431667,135.871250,1.000000,1.000000,3.000000,1.000000,2.000000,2.000000
max,-8.059338,-34.885067,144.290000,143.423333,145.890000,145.456667,664.317682,149.756667,3.000000,4.000000,18.918054,4.000000,3.000000,34.086073

In [21]:
transformerY2 = RobustScaler().fit(y2)
y2_scaled = transformerY2.transform(y2)

In [22]:
print (np.mean((transformerY2.inverse_transform(multioutputregressor.predict(x2)) - transformerY2.inverse_transform(y2_scaled))**2, axis=0))

[2.76381396e-07 6.34930205e-07]

In [23]:
transformerY2.inverse_transform(multioutputregressor.predict(x2))

array([[ -8.069407, -34.895855],
       [ -8.066186, -34.88989 ],
       [ -8.06998 , -34.89905 ],
       ...,
       [ -8.072911, -34.900364],
       [ -8.068869, -34.88989 ],
       [ -8.066358, -34.894306]], dtype=float32)

In [28]:
p = transformerY2.inverse_transform(multioutputregressor.predict(x2))

latv = p[:,0]
lonv = p[:,1]
latv2 = transformerY2.inverse_transform(y2_scaled)[:,0]
lonv2 = transformerY2.inverse_transform(y2_scaled)[:,1]

dist = GeoUtils.GeoUtils.distanceInKm(latv, lonv,latv2, lonv2)

print(np.array(dist).mean())

0.08926488438237418