# Trilateration Graphics
This is an auto-generated notebook.

In [5]:
#!/usr/bin/env python
import numpy as np
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import pandas as pd

In [22]:
def getDistance(real, predict):
    lat1 = real[:,0]
    lon1 = real[:,1]
    lat2 = predict[:,0]
    lon2 = predict[:,1]

    return np.array(GeoUtils.GeoUtils.distanceInKm(lat1, lon1,lat2, lon2))

In [23]:
data_real = pd.read_csv("Dados/LocTreino_Equipe_4.csv")

# bts_data = pd.read_csv("Dados/dados_BTSs.csv")
data_1 = pd.read_csv("Dados/Resultados_1.csv") #C232Hata
data_2 = pd.read_csv("Dados/Resultados_2.csv") #SUI Model
data_3 = pd.read_csv("Dados/Resultados_3.csv") #FSPL with sqrt
data_4 = pd.read_csv("Dados/Resultados_4.csv") #Trilat + MachineL

In [24]:
plt.hist(getDistance((data_real['lat'],data_real['lon']), (data_1['lat'],data_1['lon']), normed=False, bins=30)

SyntaxError: unexpected EOF while parsing (<ipython-input-24-733f644517de>, line 1)

In [26]:
data_2.describe()

,pontoId,lat,lon,lat_pred,lon_pred,erro_loc
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,1471.292667,-8.070097,-34.894814,-6.451036,-27.893053,inf
std,849.057388,0.004232,0.004354,3.233317,13.980237,NaN
min,2.000000,-8.077570,-34.906830,-8.085337,-34.913251,8.822389
25%,746.750000,-8.073197,-34.897387,-8.072777,-34.897150,270.741119
50%,1464.500000,-8.069940,-34.895346,-8.068564,-34.893461,524.315963
75%,2190.250000,-8.067113,-34.891169,-8.064246,-34.888792,1210.813473
max,2955.000000,-8.059339,-34.885067,0.000000,0.000000,inf